/.cargo
/target
/crates/*/target
node_modules
/*.yb
a.out
*.s
*.o
*.so
*.ll
/tools/yaboprint/yaboprint
/tools/yaboc-server/yaboc-server
/compile_flags.txt
build
build-*
.cache
treereduce.out
/test_order.txt
dist-newstyle